<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="utf-8">
  <title>简语</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- mobile specific metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="static/epitome/css/base.css">
  <link rel="stylesheet" href="static/epitome/css/vendor.css">
  <link rel="stylesheet" href="static/epitome/css/main.css">


  <!-- script
  ================================================== -->
  <script src="static/epitome/js/modernizr.js"></script>
  <script src="static/epitome/js/pace.min.js"></script>

  <!-- favicons
  ================================================== -->

  <link rel="manifest" href="site.webmanifest">


</head>

<body id="top">

<div id="preloader">
  <div id="loader"></div>
</div>

<div>
  <iframe align="center" width="100%" height="170" src="head"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

</div>
<section id="about" class="s-about target-section">
  <div class="about-experience">

    <div class="row heading-block" data-aos="fade-up">
      <div class="column large-full">
        <h2 class="section-heading">HX & JianYu</h2>
      </div>

    </div>

    <div class="row about-experience__timeline">

      <div class="column large-half tab-full" data-aos="fade-up">
        <div class="timeline">

          <div class="timeline__icon-wrap">
            <span class="timeline__icon timeline__icon--work"></span>
          </div>

          <div class="timeline__block">
            <div class="timeline__bullet"></div>
            <div class="timeline__header">
              <p class="timeline__timeframe" id="pushDate1">发布日期</p>
              <h3 class="item-title" id="title1">留言标题</h3>
              <h5 id="name1">留言人</h5>
            </div>
            <div class="timeline__desc">
              <p id="content1">具体内容</p>
            </div>
          </div>

          <div class="timeline__block">
            <div class="timeline__bullet"></div>
            <div class="timeline__header">
              <p class="timeline__timeframe" id="pushDate2">July 2017 - June 2018</p>
              <h3 class="item-title" id="title2">Super Cool Agency</h3>
              <h5 id="name2">Frontend Developer</h5>
            </div>
            <div class="timeline__desc">
              <p id="content2">Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur
                nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
                occaecat nisi.</p>
            </div>
          </div>

          <div class="timeline__block">
            <div class="timeline__bullet"></div>
            <div class="timeline__header">
              <p class="timeline__timeframe" id="pushDate3">March 2016 - June 2017</p>
              <h3 class="item-title" id="title3">Epic Design Studio</h3>
              <h5 id="name3">Frontend Developer</h5>
            </div>
            <div class="timeline__desc">
              <p id="content3">Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur
                nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
                occaecat nisi.</p>
            </div>
          </div>

        </div>
      </div>

      <div class="column large-half tab-full" data-aos="fade-up">
        <div class="timeline">

          <div class="timeline__icon-wrap">
            <span class="timeline__icon timeline__icon--education"></span>
          </div>

          <div class="timeline__block">
            <div class="timeline__bullet"></div>
            <div class="timeline__header">
              <p class="timeline__timeframe" id="pushDate4">July 2011 - June 2015</p>
              <h3 class="item-title" id="title4">University of Life</h3>
              <h5 id="name4">Master Degree</h5>
            </div>
            <div class="timeline__desc">
              <p id="content4">Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur
                nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
                occaecat nisi.</p>
            </div>
          </div>

          <div class="timeline__block">
            <div class="timeline__bullet"></div>
            <div class="timeline__header">
              <p class="timeline__timeframe" id="pushDate5">July 2009 - June 2011</p>
              <h3 class="item-title" id="title5">State Design University</h3>
              <h5 id="name5">Bachelor Degree</h5>
            </div>
            <div class="timeline__desc">
              <p id="content5">Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur
                nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
                occaecat nisi.</p>
            </div>
          </div>

          <div class="timeline__block">
            <div class="timeline__bullet"></div>
            <div class="timeline__header">
              <p class="timeline__timeframe" id="pushDate6"></p>
              <h3 class="item-title" id="title6"></h3>
              <h5 id="name6">Bachelor Degree</h5>
            </div>
            <div class="timeline__desc">
              <p id="content6">Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur
                nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
                occaecat nisi.</p>
            </div>
          </div>
          <div id="demo2">
          </div>
        </div>

      </div>

    </div>

  </div> <!-- end about-experience -->


</section> <!-- end s-about -->

<div id="app">

  <van-pagination
          v-model="currentPage"
          :page-count="12"
          mode="simple"
  />

</div>
<!--分页-->
<div>
  <iframe align="center" width="100%" height="170" src="foot"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>




<!-- Java Script
================================================== -->
<script src="static/epitome/js/jquery-3.2.1.min.js"></script>
<script src="static/epitome/js/plugins.js"></script>
<script src="static/epitome/js/main.js"></script>

<!-- import Vue before Element -->
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>


<script>
</script>

</body>
</html>