<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.mapper.music.rmplMapper">
    <resultMap id="BaseResultMap" type="com.liyang.entity.music.rmpl" >
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="song" jdbcType="VARCHAR" property="song" />

    </resultMap>
    <insert id="insertRmpl" parameterType="com.liyang.entity.music.rmpl" >
        insert music_rmpl(content, username, avatar, song)
        values
        (#{content}, #{username}, #{avatar}, #{song})
    </insert>
    <select id="selectRandRmpl" resultType="com.liyang.entity.music.rmpl">
        select content, username, song from music_rmpl order by rand() limit 1
    </select>
</mapper>
